li a:hover{
background-color: #DC9F96;
}


h1{
color:#3D9448;
font-family: 'Syne';
font-weight: 800;
font-size: 38px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-bottom: 100px;
}

main{
width: 100%;
}

.bordure{
border:solid;
border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
border-color: #e4d1d1;
background-color: #e4d1d1;
height: 700px;
box-shadow: 0px 12px 0px 0px rgba(184,165,165,0.75);
}

.canette-feuille{
display: flex;
justify-content: center;
margin-top:20px;
}

.canette{
position: absolute;
top: 160px;
}

.plante{
background-color: white;
margin-top: 40px;
}

h2{
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 30px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #3B8E46;
}

.plante p {
color:black;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-top: 50px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1{
        color:#3D9448;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 100px;
        }

    .bordure{
        border:solid;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-color: #e4d1d1;
        background-color: #e4d1d1;
        height: 400px;
        box-shadow: 0px 12px 0px 0px rgba(184,165,165,0.75);
            }        
    
    .canette-feuille{
        display: flex;
        justify-content: center;
        margin-top:20px;
        width: 100px;
        margin:auto;
            }

    .canette{
        width:100px;
        top:259px;
    }
    }